@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
html {
  scroll-behavior: smooth;
}
body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
[data-theme="dark"] {
  background-color: #121212;
  color: #e3ebdb;
}

[data-theme="light"] {
  background-color: #dce4e7;
  color: black;
}

.btn-submit {
  padding: 5px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 5px;
  font-size: 10px;
  font-weight: 600;
  color: white;
}
.btn-red {
  padding: 6px 12px;
  background-image: linear-gradient(160deg, #ff0f10 0%, #e5adad 100%);
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}
.rounded-btn {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 4px 12px;
}

.btn-nav {
  color: white;
  transition: background-color 0.3s;
  min-width: fit-content;
}
.form-label {
  font-weight: 600;
  width: 100px;
  display: block;
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}
.item-table table, 
.item-table th, 
.item-table td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 5px;
  padding-bottom: 5px;
}
.table-last-item {
  font-weight: bold;
}

.item-table table, 
.item-table th, 
.item-table td {
  border: 1px solid black;
  border-collapse: collapse;
}

.item-table th, 
.item-table td {
  padding: 5px;
}

.item-table th {
  text-align: left;
}


.form-textarea{
 @apply resize min-w-[300px] p-2 focus:outline-none rounded
}
.text-input {
  width: 200px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  border-radius: 4px;
}
.text-input:focus{
  outline: none;
}
.form-disabled {
  pointer-events: none;
  opacity: 0.5;
}

.secondary-nav {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  gap: 1rem;
}
.page-container{

  margin: 1rem;
}

@media (min-width: 768px) {
  .secondary-nav {
    margin-top: 1rem;
  }
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  [data-theme="dark"] & {
    color: white;
  }
  [data-theme="light"] & {
    color: black;
  }
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
  }
  33% {
    box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
  }
  66% {
    box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
  }
  100% {
    box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
